# This file is a "template" of what your parameters.yml file should look like
parameters:

    # Database
    database_host: localhost
    database_port: 3306
    database_name: consilium
    database_user: root
    database_password: a7...
    database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    # Mailer
    mailer_transport: gmail
    mailer_user: localhost3301@gmail.com
    mailer_password: a7...

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
